<form method="POST" action="">
Name: <input type="text" name="catname" value="">	
Lives: <input type="number" name="lives" value="">	
Cuteness: <input type="number" name="cuteness" value="">	
		<input type="submit">	
</form>
